.header{                   
    width: 100%;
    border: 1px solid black;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    font-size: 18px;
    & .menu{
        display: flex;
    }
    & .menu ul{
        display: flex;
        flex-wrap: wrap;
        gap: 10px;
        & li{
            list-style-type: none;
        }

    }
    & .login_register{
        display: flex;
        width: 40%;
        flex-wrap: wrap;
        & button{ 
            width: 40%;
            height: 60px;
            margin: 0 5px;
            border-radius: 8px;
        }
        & #login{
            color: #01890D;
            font-weight: 600;
            border: 1px solid #01890D;
            background-color: white;
        }
        & #register{
            background-color: #01890D;
            color: #FCFCFC;
            border: none;       
        }
    }
    & .hamburger{
        display: none;
        
    }
   
}
@media only screen and (max-width: 1200px){
    div.header .hamburger{
        display: block;
        padding-top: 10px;
        margin-left: 10px;
        
    }
}