.main{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
    align-items: center;
    
    & .pic{
        max-width: 480px;
        min-width: 300px;
        width: 40%;
        & img{
            width: 100%;
            height: auto;
        }
    }
}
.frequentlyasked{
    margin:50px;
    & .questions{
        position: relative;
        left: 20%;
        margin-top: 60px;
        width:80%;
        
    }
}